.about__wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about__columns {
  margin-bottom: 40px;
}

.about__title {
  margin-bottom: 15px;
}

.about__header {
  margin-bottom: 40px;
}

.about__lead {
  font-size: 16px;
  line-height: 22px;

  p {
    margin: 0;
  }
}

.about__text-content {
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .about__columns {
    margin-bottom: 60px;
  }

  .about__title {
    margin-bottom: 30px;
  }

  .about__lead {
    font-size: 20px;
    line-height: 26px;
  }

  .about__text-content {
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .about__wrapper {
    padding-top: 70px;
    padding-bottom: 60px;
  }

  .about__columns {
    display: flex;
    gap: 40px;
    align-items: flex-start;
  }

  .about__header {
    width: 702px;
    margin-bottom: 0;
  }

  .about__content {
    width: 498px;
  }

  .about__lead {
    font-size: 22px;
    line-height: 32px;
  }

  .about__text-content {
    margin-top: -45px;
    margin-bottom: 50px;
  }
}
