.about__wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about__columns {
  margin-bottom: 40px;
}

.about__title {
  margin-bottom: 15px;
}

.about__lead {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 22px;

  p {
    margin: 0;
  }
}

.about__text-content {
  margin-bottom: 30px;
}
