.button-small {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: $secondary-color;
  border: none;
  border-radius: 50%;
  transition: 0.3s ease;

  &::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    mask-image: url("../../__spritemap#sprite-button-arrow-view");
    background-color: $base-white;
    background-size: 8px 8px;
    transition: 0.3s ease;
  }

  &:hover {
    background-color: $base-white;

    &::before {
      background-color: $secondary-color;
      transform: rotate(45deg);
    }
  }

  &:focus-visible {
    &::before {
      transform: rotate(45deg);
    }
  }

  &:active {
    background-color: $base-white;

    &::before {
      background-color: $secondary-color;
      transform: rotate(45deg);
      opacity: 0.7;
    }
  }

  &:disabled {
    background-color: $disabled-color;
    pointer-events: none;

    &::before {
      background-color: $base-white;
      opacity: 0.6;
    }
  }
}

.button-small--disabled {
  background-color: $disabled-color;
  pointer-events: none;

  &::before {
    background-color: $base-white;
    opacity: 0.6;
  }
}
