.feedback {
  overflow-x: hidden;
}

.feedback__wrapper {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

.feedback__form-wrapper {
  width: 100vw;
  margin-left: calc(((100vw - 320px) / 2 + 15px) * -1);
  padding-top: 43px;
  padding-bottom: 40px;
  color: $base-white;
  background-color: $feedback-bg;
  background-image:
    image-set(
      url("../img/city-background-mobile@1x.webp") type("image/webp") 1x,
      url("../img/city-background-mobile@2x.webp") type("image/webp") 2x,
      url("../img/city-background-mobile@1x.jpg") type("image/jpeg") 1x,
      url("../img/city-background-mobile@2x.jpg") type("image/jpeg") 2x
    );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.feedback__form {
  width: 300px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .feedback {
    overflow: visible;
  }

  .feedback__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .feedback__form-wrapper {
    width: 652px;
    margin: 0 auto;
    padding: 0;
    background-image:
      image-set(
        url("../img/city-background-tablet@1x.webp") type("image/webp") 1x,
        url("../img/city-background-tablet@2x.webp") type("image/webp") 2x,
        url("../img/city-background-tablet@1x.jpg") type("image/jpeg") 1x,
        url("../img/city-background-tablet@2x.jpg") type("image/jpeg") 2x
      );
    border-radius: 16px;
  }

  .feedback__form {
    width: 442px;
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .feedback__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .feedback__form-wrapper {
    width: 100%;
    padding: 0;
    color: $base-white;
    background-color: $feedback-bg;
    background-image:
      image-set(
        url("../img/city-background-desktop@1x.webp") type("image/webp") 1x,
        url("../img/city-background-desktop@2x.webp") type("image/webp") 2x,
        url("../img/city-background-desktop@1x.jpg") type("image/jpeg") 1x,
        url("../img/city-background-desktop@2x.jpg") type("image/jpeg") 2x
      );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
  }

  .feedback__form {
    width: 490px;
  }
}
