.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.main-footer__logo {
  order: 1;
  margin: 0 auto 20px;
}

.main-footer__list {
  order: 2;
  margin-bottom: 20px;
}

.main-footer__inner-container {
  order: 3;
}

.main-footer__social {
  order: 4;
  justify-self: end;
  width: fit-content;
  margin: 0 auto;
}

.main-footer__privacy-policy {
  display: block;
  margin: 0 auto 13px;
  width: fit-content;
  font-size: 12px;
  line-height: 14px;
  color: $primary-color;
  text-underline-offset: 4px;

  &:hover {
    color: $secondary-color;
    opacity: 0.7;
  }

  &:focus-visible {
    color: $secondary-color;
    opacity: 1;
  }

  &:active {
    color: $dark-blue;
    opacity: 1;
  }
}

.main-footer__copyright {
  margin: 0;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 14px;
  opacity: 0.6;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    display: grid;
    grid-template-columns: 52px 400px 174px;
    gap: 26px;
    align-items: start;
    text-align: left;
  }

  .main-footer__logo {
    margin: 0;
  }

  .main-footer__list {
    grid-column: 2 / 4;
    justify-self: end;
    margin-top: 16px;
    margin-bottom: 0;
  }

  .main-footer__social {
    margin: 0;
  }

  .main-footer__inner-container {
    grid-column: 1 / 3;
  }

  .main-footer__privacy-policy {
    margin: 0;
    margin-bottom: 13px;
    line-height: 12px;
    text-underline-offset: 3px;
  }

  .main-footer__copyright {
    margin: 0;
    line-height: 12px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    display: grid;
    grid-template-columns: 52px 872px 212px;
    grid-auto-flow: dense;
    column-gap: 52px;
    padding-top: 60px;
  }

  .main-footer__list {
    grid-column: 2 / 3;
    justify-self: start;
    margin-top: 16px;
    margin-bottom: 0;
  }

  .main-footer__social {
    grid-column: 3 / 4;
    justify-self: end;
    margin-top: 8px;
  }

  .main-footer__inner-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 52px;
    align-items: flex-start;
  }

  .main-footer__privacy-policy {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    text-underline-offset: 6px;
  }

  .main-footer__copyright {
    font-size: 14px;
    line-height: 18px;
    opacity: 1;
  }
}
