.page {
  height: 100%;
  scroll-behavior: smooth;
}

.page__body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  font-family: $font;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  word-wrap: break-word;
  color: $primary-color;
  background: $body-bg;

  &--menu-open {
    height: 100vh;
    overflow: hidden;
  }

  main {
    flex-grow: 1;
  }
}

@media (min-width: $tablet-width) {
  .page__body {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .page__body {
    line-height: 26px;
  }
}
