.programs__wrapper {
  position: relative;
  padding-top: 55px;
  padding-bottom: 124px;
}

.programs__header {
  margin-bottom: 35px;
}

.programs__title {
  max-width: 220px;
}

.programs__more {
  position: absolute;
  left: 15px;
  bottom: 50px;
  max-width: 290px;
}

@media (min-width: $tablet-width) {
  .programs__wrapper {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .programs__slider {
    width: 723px;
    margin-bottom: 0;
  }

  .programs__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .programs__more {
    position: static;
    max-width: 235px;
  }

  .programs__title {
    margin-top: 3px;
    max-width: 390px;
  }
}

@media (min-width: $desktop-width) {
  .programs__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .programs__header {
    margin-bottom: 42px;
  }

  .programs__title {
    max-width: 935px;
    margin-top: 5px;
  }

  .programs__more {
    margin-top: 2px;
  }

  .programs__slider {
    width: 1240px;
  }
}
