.programs__wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
}

.programs__title {
  max-width: 220px;
  margin-bottom: 35px;
}

.programs__slider {
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .programs__wrapper {
    position: relative;
  }

  .programs__slider {
    width: 723px;
    margin-bottom: 0;
  }

  .programs__more {
    position: absolute;
    top: 50px;
    right: 45px;
    max-width: 235px;
  }

  .programs__title {
    max-width: 390px;
    margin-bottom: 40px;
  }
}
