.reviews__wrapper {
  padding-top: 55px;
  padding-bottom: 50px;
}

.reviews__title {
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .reviews__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .reviews__title {
    margin-bottom: 40px;
  }

  .reviews__slider {
    width: 723px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__wrapper {
    padding-top: 65px;
    padding-bottom: 60px;
  }

  .reviews__title {
    margin-bottom: 45px;
    margin-left: 3px;
  }

  .reviews__slider {
    width: 1240px;
  }
}
