.review-card {
  width: 290px;
  height: 100%;
  padding: 30px 15px;
  border: 2px solid $secondary-color;
  border-radius: 16px;
}

.review-card__header {
  margin-bottom: 25px;
}

.review-card__autor {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.review-card__avatar {
  img {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}

.review-card__name {
  max-width: 180px;
  margin: 0;
  margin-top: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $secondary-color;

  span {
    display: block;
  }
}

.review-card__info {
  display: flex;
  gap: 25px;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0;
}

.review-card__info-item {
  display: flex;
  flex-direction: column-reverse;
}

.review-card__value {
  font-size: 12px;
  line-height: 14px;
  opacity: 0.9;
}

.review-card__definition {
  margin: 0;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  color: $secondary-color;
}

.review-card__review-text {
  margin: 0;
}

.review-card__lead {
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 18px;
  color: $secondary-color;
}

.review-card__text-content {
  p {
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .review-card {
    width: 560px;
    padding: 50px;
  }

  .review-card__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 35px;
    margin-bottom: 30px;
  }

  .review-card__autor {
    margin: 0;
    gap: 15px;
  }

  .review-card__avatar {
    img {
      width: 90px;
      height: 90px;
    }
  }

  .review-card__name {
    margin-top: 21px;
    font-size: 20px;
    line-height: 24px;
  }

  .review-card__info {
    margin-top: 23.5px;
  }

  .review-card__definition {
    margin-bottom: 11px;
  }

  .review-card__value {
    font-size: 14px;
    line-height: 20px;
    opacity: 1;
  }

  .review-card__lead {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .review-card {
    width: 604px;
  }

  .review-card__name {
    font-size: 18px;
  }

  .review-card__info {
    margin-top: 24.5px;
  }

  .review-card__value {
    line-height: 18px;
  }

  .review-card__lead {
    font-size: 24px;
    line-height: 26px;
  }
}
