.slider-news {
  position: relative;

  .slider-news__wrapper {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
  }
}

.slider-news--no-js {
  overflow: hidden;

  .slider-news__wrapper {
    gap: 20px;
  }
}

.slider-news__swiper {
  border-radius: 12px;
}

.slider-news .slider-news__slide {
  width: auto;
}

.slider-news__footer {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.slider-news__button {
  margin-top: 2px;
}

.slider-news__pagination {
  display: flex;
  gap: 16px;
  max-width: 206px;
  overflow: hidden;
}

.slider-news__pagination-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 26px;
  max-width: 40px;
  height: 26px;
  padding: 3px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: $secondary-color;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 13px;
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    border-color: $secondary-color;
    opacity: 1;
  }

  &:focus-visible {
    background-color: $base-white;
    border-color: $secondary-color;
    opacity: 1;
    outline: none;
  }

  &:active {
    color: $base-white;
    background-color: $bg-dark-blue;
    border-color: $bg-dark-blue;
    opacity: 1;
  }

  &:disabled {
    pointer-events: none;
    color: rgba($base-white, 0.6);
    background-color: $disabled-color;
    border-color: $disabled-color;
    opacity: 1;
  }

  &--active {
    color: $base-white;
    background-color: $secondary-color;
    border: 2px solid $secondary-color;
    opacity: 1;

    &:focus-visible {
      color: $base-white;
      background-color: $secondary-color;
      border: 2px solid $secondary-color;
      opacity: 1;
      outline: auto;
    }
  }

  &--disabled {
    pointer-events: none;
    color: rgba($base-white, 0.6);
    background-color: $disabled-color;
    border-color: $disabled-color;
    opacity: 1;
  }

  &--hidden {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .slider-news {
    .slider-news__slide {
      &--second {
        grid-column: 2;
        grid-row: 1;
      }
    }
  }

  .slider-news--no-js {
    .slider-news__wrapper {
      gap: 30px;
    }
  }

  .slider-news__footer {
    margin-top: 30px;
  }

  .slider-news__button {
    margin-top: 5px;
  }

  .slider-news__pagination {
    max-width: 252px;
    gap: 20px;
  }

  .slider-news__pagination-button {
    min-width: 32px;
    max-width: 48px;
    height: 32px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 16px;
  }
}

@media (min-width: $desktop-width) {
  .slider-news {
    .slider-news__wrapper {
      display: flex;
    }
  }

  .slider-news--no-js {
    .slider-news__wrapper {
      gap: 32px;
    }
  }

  .slider-news .slider-news__slide {
    width: 286px;

    &--wide {
      width: 604px;
    }
  }

  .slider-news__footer {
    margin-top: 40px;
  }
}
