.social {
  @include list-reset;

  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  color: $base-white;
  background-color: $secondary-color;
  border-radius: 50%;

  &:hover {
    svg {
      opacity: 0.7;
    }
  }

  &:focus-visible {
    color: $secondary-color;
    background-color: $base-white;
  }

  &:active {
    background-color: $dark-blue;
  }
}

@media (min-width: $tablet-width) {
  .social__link {
    width: 36px;
    height: 36px;

    &--vk {
      svg,
      img {
        width: 19px;
        height: 11.73px;
      }
    }

    &--ok {
      svg,
      img {
        width: 11.45px;
        height: 18px;
      }
    }

    &--reddit {
      svg,
      img {
        width: 16.55px;
        height: 17.27px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .social {
    gap: 20px;
  }
}
