.text-content {
  h3 {
    margin-top: 25px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $secondary-color;
  }

  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (min-width: $tablet-width) {
  .text-content {
    h3 {
      margin-top: 35px;
      margin-bottom: 30px;
      font-size: 28px;
      line-height: 28px;
    }
  }
}
