.title-middle {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  color: $secondary-color;

  &--light {
    color: $base-white;
  }

  &--centered {
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .title-middle {
    font-size: 34px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .title-middle {
    font-size: 50px;
  }
}
